textarea {
    width: calc(85vw - 45px);
    height: 80px;
}

p {
    width: 90%;
}

// add "screen and" ?
@media (max-width: 450px) {
    p, div.help { width: 360px; }
}

p, th, td, button, textarea {
    font-size: 2vw;
}

@media (max-width: 600px) {
    p, th, td, button, textarea {
        font-size: 12px;
    }
}

@media (min-width: 800px) {
    textarea { width: 680px; }
    p, div.help { width: 720px; }
}

@media (min-width: 1000px) {
    p, th, td, button, textarea {
        font-size: 20px;
    }
}
